<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="whoisSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="whoisSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/whois.asmx" binding="basicHttpBinding"
                bindingConfiguration="whoisSoap" contract="Whois.whoisSoap"
                name="whoisSoap" />
            <endpoint address="http://www.webservicex.net/whois.asmx" binding="customBinding"
                bindingConfiguration="whoisSoap12" contract="Whois.whoisSoap"
                name="whoisSoap12" />
        </client>
    </system.serviceModel>
</configuration>